<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>

    <p th:text="${'ID: ' + person.getId()}">VALUE</p>
    <p th:text="${'Name: ' + person.getName()}">VALUE</p>
    <p th:text="${'Age: ' + person.getAge()}">VALUE</p>
    <p th:text="${'Email: ' + person.getEmail()}">VALUE</p>
    <p th:text="${'Address: ' + person.getAddress()}">VALUE</p>

  <hr/>

  <form th:action="@{/people/{id}/edit(id=${person.getId()})}">
      <button>edit</button>
  </form>

  <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
      <button>delete</button>
  </form>

  <form th:method="GET" th:action="@{/people}">
      <button>back</button>
  </form>

</body>
</html>